.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*height: 100vh;*/
  /*background-color: white;*/
}
.login__logo {
  /*margin-top: 1.25rem;
  margin-bottom: 1.25rem;*/
  object-fit: contain;
  width: 7.2rem;
  /* width:100px;*/
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .login__logo {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    object-fit: contain;
    width: 9.375rem;
    /* width:100px;*/
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .login__logo {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    object-fit: contain;
    width: 9.375rem;
    /* width:100px;*/
    margin-right: auto;
    margin-left: auto;
  }
}
.login__container {
  width: 17rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  border: 1px solid lightgray;
  padding: 1.25rem;
  /*background-color: #5899e2;*/
  background-color: #131619;
  color: white;
  margin: 1rem;
}
@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .login__container {
    width: 17rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    border: 1px solid lightgray;
    padding: 1.25rem;
    /*background-color: #5899e2;*/
    background-color: #131619;

    color: white;
    margin: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .login__container {
    width: 17rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 0.3125rem;
    border: 1px solid lightgray;
    padding: 1.25rem;
    /*background-color: #5899e2;*/
    background-color: #131619;
    color: white;
    margin: 1rem;
  }
}
.login__container > h1 {
  font-weight: 400;
  margin-bottom: 1.25rem;
}

@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .login__container > h1 {
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  .login__container > h1 {
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
}
.login__container > form > h5 {
  margin-bottom: 0.3125rem;
}
.login__container > form > input {
  height: 1.875rem;
  margin-bottom: 0.625rem;
  background-color: white;
  width: 98%;
  border-radius: 0.3125rem;
}
.login__container > form > p {
  margin-top: 0;
  font-size: 0.75rem;
  cursor: pointer;
}
.login__container > p {
  margin-top: 0.9375rem;
  font-size: 0.75rem;
}
.login__signInButton {
  /*background: #f0c14b;*/
  /*background-color: #afee39;*/
  background-color: #c3c3f5;
  border-radius: 0.125rem;
  width: 100%;
  height: 1.875rem;
  border: 1px solid;
  margin-top: 0.625rem;
  /*border-color: #a88734 #9c7e31 #846a29;*/
  cursor: pointer;
  border-radius: 0.3125rem;
}
.login__registerButton {
  border-radius: 0.125rem;
  width: 100%;
  height: 1.875rem;
  border: 1px solid;
  margin-top: 0.625rem;
  border-color: darkgray;
  border-radius: 0.3125rem;
  cursor: pointer;
}
.login__registerWithGoogleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3125rem;
}
.login__container > button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.login__signInButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.login__registerWithGoogleButton > span > svg {
  margin-right: 0.5rem;
  cursor: pointer;
}
.login > Link {
  text-decoration: none;
}
.login__email {
  color: #9cf00c;
}
