.payment {
  background-color: white;
}
.payment__container > h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  /*background-color: rgb(234, 237, 237);*/
  border-bottom: 1px solid lightgray;
}
.payment__items {
  text-decoration: none;
}
.payment__section {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
  }
}
@media only screen and (min-width: 1200px) {
  .payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
  }
}

.payment__title {
  flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
  text-decoration: none;
  color: black;
}
.payment__method {
  font-size: medium;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .payment__method {
    font-size: medium;
    padding-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .payment__method {
    font-size: medium;
    padding-bottom: 0.5rem;
  }
}
.payment__total {
  font-size: medium;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
@media only screen and (min-width: 775px) and (max-width: 1200px) {
  .payment__total {
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .payment__total {
    font-size: medium;
    padding-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.payment > button {
  cursor: pointer;
  border-radius: 0.3125rem;
}

.payment__details > form {
  max-width: 400px;
}
.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  /* background-color: #afee39;*/
  background-color: #c3c3f5;
  border-radius: 0.3125rem;
  width: 100%;
  /*height: 30px;*/
  border: 1px solid;
  margin-top: 10px;
  /*border-color: #a88734 #9c7e31 #846a29;*/
  /*color: #111;*/
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  padding: 0.78rem;
}

.payment__details > form > div > button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.payment__details > form > div > button:hover {
  /*box-shadow: rgba(217, 216, 221, 0.4) 0 4px 8px,
    rgba(184, 171, 214, 0.3) 0 7px 13px -3px, #c3c3f5 0 -3px 0 inset;*/
  background-color: #9090f4;
  transform: translateY(-2px);
}
